<menus>
    <menu name='系统管理'  icon='fa fa-gears' id='systemManagement' >
        <menu name='菜单设置' ct='system' ac='menus' icon='fa fa-dashboard'  />
        <menu name='后台用户管理' icon='fa fa-user-secret'  default='true' >
            <menu name='用户列表' ct='admin' ac='userlist' icon='fa fa-user' display='' />
            <menu name='用户组管理' ct='admin' ac='grouplist' icon='fa fa-users' display='' />
        </menu>
        <menu name="文件管理" icon="fa fa-file" >
            <menu name='本地资源' ct='system' ac='file_manager' icon='fa fa-dashboard'  />
            <menu name='上传文件' ct='system' ac='upload_file' icon='fa fa-dashboard'  />
            <menu name='标签管理' ct='system' ac='file_label' icon='fa fa-dashboard'  />
        </menu>

        <menu name='基本设置' ct='system' ac='baise_config' icon='fa fa-dashboard'  />
        <menu name='地区列表' ct='system' ac='menus' icon='fa fa-dashboard'  />
        <menu name='友情链接' ct='system' ac='friend_link' icon='fa fa-dashboard'  />

        <menu name='数据库管理'  icon='fa fa-database' display='' >
            <menu name='数据备份' ct='system' ac='data_backups' icon='fa fa-cogs' display='' />
            <menu name='数据表优化' ct='system' ac='data_optimization' icon='fa fa-cogs' display='' />
            <menu name='SQL查询' ct='system' ac='data_select' icon='fa fa-cogs' display='' />
        </menu>
    </menu>
    <menu name='内容管理' icon='fa fa-book' id='contentManagement'  >
        <menu name='内容分类' ct='content' ac='cate_index' icon='fa fa-list-ol' display='' />
        <menu name='文章列表' ct='content' ac='content_index' icon='fa fa-file-text-o' display='' />
    </menu>
    <menu name='会员管理' icon='fa fa-book' id='membersManagement'  >
        <menu name='会员列表' ct='member' ac='member_list' icon='fa fa-list-ol' display='' />
        <menu name='会员等级' ct='member' ac='grade_list' icon='fa fa-file-text-o' display='' />
        <menu name='会员留言' ct='member' ac='message_list' icon='fa fa-file-text-o' display='' />
        <menu name='充值记录' ct='member' ac='advance_list' icon='fa fa-file-text-o' display='' />
        <menu name='充值和提现申请' ct='member' ac='advance_list' icon='fa fa-file-text-o' display='' />
        <menu name='资金管理' ct='member' ac='advance_list' icon='fa fa-file-text-o' display='' />
        <menu name='登陆日志' ct='member' ac='log_list' icon='fa fa-file-text-o' display='' />
        <menu name="代理管理"  icon='fa fa-database' display='' >
            <menu name='数据备份' ct='system' ac='data_backups' icon='fa fa-cogs' display='' />
            <menu name='数据表优化' ct='system' ac='data_optimization' icon='fa fa-cogs' display='' />
        </menu>
    </menu>
    <menu name='商户管理' icon='fa fa-user-secret' id='stroeCenter'  >
        <menu name='商户列表' ct='stroe' ac='index' icon='fa fa-user' display='' />
        <menu name='商户类型' ct='stroe' ac='catelist' icon='fa fa-users' display='' />
    </menu>
    <menu name='商品管理' icon='fa fa-user-secret' id='productManager'  >
        <menu name='商品列表' ct='product' ac='index' icon='fa fa-user' display='' />
        <menu name='添加新商品' ct='product' ac='catelist' icon='fa fa-users' display='' />
        <menu name='商品分类' ct='product' ac='labelist' icon='fa fa-users' display='' />
        <menu name='商品类型' ct='product' ac='labelist' icon='fa fa-users' display='' />
        <menu name='标签管理' ct='product' ac='labelist' icon='fa fa-users' display='' />
        <menu name='用户晒单' ct='product' ac='labelist' icon='fa fa-users' display='' />
        <menu name='商品分类' ct='product' ac='labelist' icon='fa fa-users' display='' />
        <menu name='商品分类' ct='product' ac='labelist' icon='fa fa-users' display='' />
        <menu name='商品分类' ct='product' ac='labelist' icon='fa fa-users' display='' />
    </menu>
    <menu name='订单管理' icon='fa fa-user-secret' id='orderCenter' >
        <menu name='订单列表' ct='order' ac='index' icon='fa fa-user' display='' />
    </menu>
    <menu name='打印日志' icon='fa fa-user-secret' id='printerCenter' >
        <menu name='打印队列' ct='printer' ac='index' icon='fa fa-user' display='' />
        <menu name='打印失败' ct='printer' ac='faillist' icon='fa fa-users' display='' />
    </menu>
</menus>