
<script language='javascript'>
    function debug_hidden_all() {
        document.getElementById('debug_errdiv').style.display='none';
    }
    function debug_close_all() {
        debug_hidden_all();document.getElementById('debug_ctl').style.display='none';
    }
</script>



<div id="debug_ctl" style="background: #cc3a3a;width:100px;line-height:18px;position:absolute;top:2px;left:2px;border:1px solid #ccc; padding:1px;text-align:center">
    <a href="javascript:;" onclick="javascript:document.getElementById('debug_errdiv').style.display='block';" style="font-size:12px;">[打开调试信息]</a>
</div><div id="debug_errdiv" style="z-index:9999;width:80%;position:absolute;top:10px;left:8px;border:2px solid #ccc; background: #fff; padding:8px;display:none"><div style="line-height:24px; background: #FBFEEF;;"><div style="float:left"><strong>错误/警告信息追踪：</strong></div><div style="float:right"><a href="javascript:;" onclick="javascript:debug_close_all();" style="font-size:12px;">[关闭]</a><a href="javascript:;" onclick="javascript:debug_hidden_all();" style="font-size:12px;">[收起]</a></div><br style="clear:both"/></div><div style='font-size:14px;line-height:160%;border-bottom:1px dashed #ccc;margin-top:8px;'>发生环境：2018-07-18 12:26:05::http://sephp.a.com/admin/page/main.html<br />
    错误类型：0<br />
    出错原因：<font color='#3F7640'>controler file ctl_index.php is not exists!</font><br />
    提示位置：/Users/gangkui/wwwroot/www/sephp.a.com/sephp/library/sephp/exceptions.php 第 12 行<br />
    断点源码：<font color='#747267'>        throw new self($message, intval($code), $previous);
    </font><br />
    详细跟踪：<br />
    <font color='#747267'>[0] in function start->run  in /Users/gangkui/wwwroot/www/sephp.a.com/sephp/start.php  on line 44 </font><br />
    <font color='#747267'>[1] in function start->__construct  in /Users/gangkui/wwwroot/www/sephp.a.com/index.php  on line 7 </font><br />
</div><br style="clear:both"/></div>